.collection {
  position: relative;
  height: 217px;
}

.collection img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.info {
  height: 165px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  padding: 1.37rem;
}

.info h3 {
  color: var(--color-black);
  text-align: center;
  font-size: 0.9375rem;
  letter-spacing: 1.071px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .info h3 {
    font-size: var(--size-xs);
  }
}
