.collection {
  width: 90%;
  max-width: var(--width-max);
  margin: auto;
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .collection {
    padding: 4rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.62rem;
  }
}
