:root {
  /* Containers */
  --width-max: 1400px;

  /* Font Sizes */
  --size-extra-small: 1rem;
  --size-small: 1.125rem;
  --size-normal: 1.25rem;
  --size-medium: 1.5rem;
  --size-large: 2rem;
  --size-extra-large: 2.625rem;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-slate: #101010;
  --color-grey: #f1f1f1;
  --color-light-grey: #fafafa;
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
  --color-red: #cd2c2c;

  /* Font sizes */
  --font-size-extra-small: 0.8125rem;

  /* Line heights */
  --line-height-normal: 1.5625rem;

  /* Letter spacing */
  --letter-spacing-small: 0.0625rem;
  --letter-spacing-large: 0.125rem;

  /* Opacity */
  --opacity-light: 0.5;
  --opacity-medium: 0.75;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background-color: var(--color-light-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-orange);
}

p,
li {
  line-height: var(--line-height-normal);
}
