:root {
  /* Containers */
  --width-max: 1400px;

  /* Font Sizes */
  --size-xxxs: 0.8125rem;
  --size-xxs: 0.875rem;
  --size-xs: 1.125rem;
  --size-sm: 1.5rem;
  --size-md: 1.75rem;
  --size-lg: 2.625rem;
  --size-xl: 2rem;
  --size-xxl: 2.5rem;
  --size-xxxl: 3.5rem;

  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-slate: #101010;
  --color-grey: #f1f1f1;
  --color-light-grey: #fafafa;
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
  --color-red: #cd2c2c;
  --color-border: #4c4c4c33;

  /* Line heights */
  --line-height-theme: 1.5625rem;

  /* Letter spacing */
  --letter-spacing-sm: 0.0625rem;
  --letter-spacing-md: 0.125rem;
  --letter-spacing-lg: 0.625rem;

  /* Opacity */
  --opacity-light: 0.5;
  --opacity-medium: 0.75;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background-color: var(--color-light-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-orange);
}

p,
li {
  line-height: var(--line-height-theme);
  font-weight: 400;
}
