.content {
  color: var(--color-white);
  background-color: var(--color-slate);
}

.wrapper {
  width: 100%;
  max-width: var(--width-max);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content p {
  color: var(--color-light-grey);
}

.content p:first-of-type {
  opacity: var(--opacity-light);
}

.content p:last-of-type {
  opacity: var(--opacity-medium);
}

.image {
  width: 100%;
  height: auto;
}
